gnome-doc-utils.m4
# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~

# /
/Makefile.in
/Makefile
/aclocal.m4
/autom4te.cache
/configure
/config.log
/config.status
/depcomp
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/missing
/mkinstalldirs
/omf.make
/viking.spec
/xmldocs.make
/test-driver
/compile
# make dist output:
viking-*tar.bz2
viking-*tar.gz
viking-*zip

# data/
data/Makefile
data/Makefile.in

# /doc/
/doc/Makefile.in
/doc/Makefile

# /doc/dev/
/doc/dev/Makefile.in
/doc/dev/Makefile

# doc/examples/
doc/examples/Makefile
doc/examples/Makefile.in

# doc/reference/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/xml
doc/reference/html*
doc/reference/tmpl*
doc/reference/viking*
doc/reference/sgml*
doc/reference/*stamp

# help/
help/viking.1
# help/C/
help/C/viking.pdf
help/C/*html

# /src/
/src/.deps
/src/Makefile.in
/src/Makefile
/src/*.o
/src/authors.h
/src/config.h
/src/config.h.in
/src/libviking.a
/src/stamp-h1
/src/viking
/src/viking.exe
/src/viking.desktop
/src/vikenumtypes.h
/src/vikenumtypes.c
/src/documenters.h

# /src/icons/
/src/icons/.deps
/src/icons/Makefile.in
/src/icons/Makefile
/src/icons/*.h
/src/icons/icons.c
/src/icons/icons.o
/src/icons/libicons.a

# /test/
/test/.deps
/test/Makefile.in
/test/Makefile
/test/*.o
/test/gpx2gpx
/test/degrees_converter
/test/test_vikgotoxmltool
/test/test_coord_conversion

# /po/
/po/Makefile.in.in
/po/Makefile.in
/po/Makefile
/po/*.gmo
/po/POTFILES
/po/.intltool-merge-cache
/po/stamp-it

# win32/
win32/Makefile
win32/Makefile.in
win32/installer/Makefile
win32/installer/Makefile.in
win32/installer/pixmaps/Makefile
win32/installer/pixmaps/Makefile.in
win32/installer/pixmaps/*o
win32/installer/translations/Makefile
win32/installer/translations/Makefile.in
win32/installer/viking*.exe
