body {
         font-family: luxi sans,sans-serif;
}

.programlisting, .screen {
        font-family: monospace;
        font-size: 1em;
        display: block;
        padding: 10px;
        border: 1px solid #bbb;
        background-color: #eee;
        color: #000;   
        overflow: auto;
        border-radius: 2.5px;
        -moz-border-radius: 2.5px;
        margin: 0.5em 2em;
 
}

.note {
	border: 1px solid #00f;
}

.warning {
	border: 1px solid #f00;
}

.caution {
	border: 1px solid #0f0;
}

/* Author listing seems stupidly large so downsize it a bit */
/* <div class="authorgroup"><div class="author"><h3 */
div.authorgroup div.author h3 {
	font-size: 75%;
}
