[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Viking GPS Viewer
Comment=View GPS data on maps downloadable from different sources
Exec=viking
Icon=viking
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Graphics;