name: Makefile CI

on:
  push:
  pull_request:
    branches: [ "master" ]

jobs:
  docker:

    strategy:
      matrix:
        ubuntu: [22.04, 20.04]
        libgtk: [libgtk-3-dev, libgtk2.0-dev]
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: dorny/paths-filter@v2
      id: changes
      with:
        filters: |
          docker:
            - 'docker/**'
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: "{{defaultContext}}:docker/build"
        build-args: |
          UBUNTU_VERSION=${{ matrix.ubuntu }}
          LIBGTK=${{ matrix.libgtk }}
        push: true
        tags: ghcr.io/viking-gps/viking-build-env:${{ matrix.ubuntu }}-${{ matrix.libgtk }}
      if: steps.changes.outputs.docker == 'true'

  build:
    if: ${{ always() }}
    needs: docker

    strategy:
      fail-fast: false
      matrix:
        ubuntu: [22.04, 20.04]
        libgtk: [libgtk-3-dev, libgtk2.0-dev]

    runs-on: ubuntu-latest
    container:
      image: ghcr.io/viking-gps/viking-build-env:${{ matrix.ubuntu }}-${{ matrix.libgtk }}

    steps:
    - uses: actions/checkout@v3

    - name: Configure
      run: ./autogen.sh ${{ matrix.libgtk == 'libgtk2.0-dev' && '--enable-gtk2' || '' }}
      
    - name: Build
      run: make

    - name: Run check
      uses: coactions/setup-xvfb@v1
      with:
        run: make check

    - uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: test-suite-log
        path: test/test-suite.log
        retention-days: 5

    - name: Run distcheck
      run: make distcheck DISTCHECK_CONFIGURE_FLAGS=${{ matrix.libgtk == 'libgtk2.0-dev' && '--enable-gtk2' || '' }}
